<div class="container mx-auto p-8 bg-primary-content rounded-3xl">
    <div class="flex items-center mb-4">
        <span class="flex-none w-14">{{ state.readableCurrentTime || '--:--' }}</span>
        <div class="flex grow">
            <input type="range" [disabled]="!state.canplay" min="0" [max]="state.duration || 1" step="1" [value]="state.currentTime || 0" class="range range-xs range-primary" (input)="seekToAudio($event)"/>
        </div>
        <span class="flex-none w-14 text-end">{{ state.readableDuration || '--:--' }}</span>
    </div>
    <div class="grid grid-cols-3 gap-3 items-center justify-items-center">
        <button class="btn btn-circle btn-primary" type="button" (click)="controlAudio()">
            @if (state.playing) {
                <fa-icon [icon]="'pause'" size="2x"></fa-icon>
            } @else {
                <fa-icon [icon]="'play'" size="2x"></fa-icon>
            }
        </button>
        <input type="range" min="0" max="100" [(ngModel)]="volumeAudio" class="range range-secondary" (input)="changeVolumeAudio()"/>
        <button class="btn btn-circle btn-secondary" (click)="stopAudio()">
            <fa-icon [icon]="'stop'" size="2x"></fa-icon>
        </button>
    </div>
</div>